@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fde68a;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #eeeeee;
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #ccc;
  border-radius: 16px;
}
